langchain
langchain-community
langchain-openai
langchain-core
langchain-anthropic
langchain-groq
langchain-ollama
pandas
numpy
matplotlib
jupyter
ipykernel
pydantic
openai
instructor
python-dotenv
anthropic
nest_asyncio
pydantic_ai